.companies {
    width: 100%;
    min-height: 33vh;
    background-color: $light;
    margin: 1rem 0;
    display: grid;
    place-items: center;

    >h2 {
        font: 500 1rem $text;
        color: grey;
        margin-top: 1.5rem;
    }

    >div {
        width: 100%;
        padding: 1rem $p_lg;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;

        >img {
            width: 120px;
            object-fit: contain;
            opacity: 0.5;
            transition: opacity 0.3s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

@media only screen and (min-width: 993px) and (max-width:1200px) {
    .companies>div {
        padding: 0 $p_md;
    }
}

@media only screen and (min-width:701px) and (max-width:995px) {
    .companies {
        >div {
            padding: 0 $p_sm;
        }
    }
}

@media only screen and (min-width: 426px) and (max-width: 700px) {
    .companies {
        margin: 0;

        >h2 {
            font-size: 0.9rem;
            margin-top: 1rem;
        }

        >div {
            padding: 0 $p_zero;

            >img {
                width: 14vw;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .companies {
        >div {
            margin-top: 1rem;
            flex-wrap: wrap;
            padding: 0 $p_zero;
            justify-content: center;
        }
    }
}