.products {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    padding: 0 $p_lg;

    .container {
        width: 80%;
        height: 100%;
        // background-color: $light;

        .top-bar {
            width: 100%;
            height: 10vh;

            >.sorting {
                display: flex;
                width: 100%;
                justify-content: space-around;

                >form>select {
                    border: 1px solid $black;
                    outline: none;
                    width: 8rem;
                    padding: 5px;
                    font-size: 0.9rem;
                    font-weight: 500;
                }
            }
        }

        .main {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            >.productList {
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: flex;
                gap: 2rem;
                flex-flow: wrap;
                justify-content: center;
                padding: 1rem 0;
            }

        }
    }
}

.page-btn {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;

    .LR-btn {
        border: none;
        padding: 1rem;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        display: grid;
        place-items: center;
        border-radius: 6px;
        transition: all 0.3s;

        &:hover {
            box-shadow: rgba(53, 53, 53, 0.658) 0px 0px 10px 3px;
        }
    }
}

.disable-button {
    border: none;
    padding: 1rem;
    outline: none;
    background-color: transparent;
    display: grid;
    place-items: center;
    border-radius: 6px;
    pointer-events: none;
    opacity: 0.5;
}


@media only screen and (min-width: 993px) and (max-width:1200px) {
    .products {
        padding: 0 $p_md;
        gap: 2vw;
    }
}

@media only screen and (min-width:701px) and (max-width:995px) {
    .products {
        padding: 0 $p_md;
        gap: 2rem;

        .filter {
            width: 35%;

            >input {
                width: 90%;
            }

            >button {
                padding: 0.5rem 0.7rem;
                width: 7rem;
                height: 2.8rem;
                font-size: 0.8rem;
            }
        }

        .container {
            .main {
                >.productList {
                    justify-content: space-evenly;

                    >.navProduct {
                        width: 44%;
                        height: 40vh;

                        >figure {
                            >figcaption {
                                padding: 3px 10px;
                            }
                        }

                        >div {
                            flex-direction: column;
                            align-items: start;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 426px) and (max-width: 700px) {
    .products {
        padding: 0 $p_sm;

        .filter {
            width: 30vw;
            padding-left: 0;
            height: min-content;

            >input {
                width: 90%;
                padding: 5px 8px;
            }

            >.category {
                >h4 {
                    font-size: 1rem;
                }

                >button {
                    font-size: 0.9rem;
                }
            }

            >.company {
                >h4 {
                    font-size: 1rem;
                }

                >select {
                    font-size: 0.9rem;
                }
            }

            >.price {
                >h4 {
                    font-size: 1rem;
                }
            }

            >button {
                padding: 0.4rem 0.5rem;
                width: 7rem;
                height: 2.5rem;
                font-size: 0.8rem;
            }
        }

        .container {
            width: 70vw;

            .top-bar {
                height: 6vh;

                >.sorting {
                    >span {
                        font-size: 0.9rem;
                    }

                    >form>select {
                        width: 7rem;
                    }
                }
            }

            .main {
                padding: 10px;
                justify-content: center;

                >.productList {
                    gap: 1rem;

                    >.navProduct {
                        width: 45vw;
                        height: 27vh;
                        border: 1px solid $primary;

                        >figure {
                            >figcaption {
                                font-size: 0.6rem;
                                padding: 3px 8px;
                                top: 10px;
                                right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .products {
        padding: 0 $p_zero;
        flex-direction: column;

        .filter {
            margin-bottom: 1rem;
            width: 80%;
            height: unset;

            >input {
                width: 60%;
            }
        }

        .container {
            width: 100%;

            .top-bar {
                height: 6vh;
                margin-bottom: 1rem;
                width: 100%;
            }

            .main {
                padding: 0.5rem;

                >.productList {
                    justify-content: center;

                    >.navProduct {
                        border: 1px solid $primary;
                        height: 35vh;

                        >figure {
                            height: 30vh;
                        }

                        >div {
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}