.single_product {

    >.container {
        padding: 0 $p_lg;
        margin-top: 3rem;
        width: 100%;
        height: 100vh;
        display: flex;
        gap: 2rem;

        >aside {
            width: 50%;
        }

        .product_data {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.9rem;

            >h2 {
                font: 400 2rem $text;
                text-transform: capitalize;
            }

            >.mrp {
                font: 600 1rem $text;
            }

            >span {
                font: 600 1rem $text;
                color: $primary;
            }

            p {
                width: 100%;
                text-align: start;
                line-height: 120%;
            }

            >.warranty {
                width: 100%;
                display: flex;
                justify-content: space-evenly;

                >div {
                    display: grid;
                    place-items: center;

                    >svg {
                        font-size: 1.5rem;
                    }

                    >p {
                        font-size: 0.9rem;
                    }
                }
            }

            >.brand {
                display: flex;
                flex-direction: column;
                border-bottom: 2px black;
                gap: 1rem;

                >span {
                    font-weight: 400;

                    >span {
                        font-weight: 500;

                    }
                }

                >hr {
                    background-color: $black;
                    height: 2px;
                    border: none;
                    width: 80%;
                }

                >.outOfStockBtn {
                    margin-left: 2rem;
                    width: 10rem;
                    background-color: #df375e;

                    &:hover {
                        background-color: #df375e;
                        transform: unset;
                        cursor: unset;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 993px) and (max-width:1200px) {
    .single_product {
        >.container {
            padding: 0 $p_md;
        }
    }
}

@media only screen and (min-width:701px) and (max-width:995px) {
    .single_product {
        >.container {
            height: unset;
            padding: 0 $p_md;

            >aside {
                .myImages {
                    >aside {
                        >img {
                            width: 24vw;
                            height: 24vw;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 426px) and (max-width: 700px) {
    .single_product {
        >.container {
            height: unset;
            padding: 0 $p_sm;
            flex-direction: column;

            >aside {
                width: 100%;

                .myImages {
                    height: unset;
                    flex-direction: column-reverse;
                    justify-content: space-between;
                    gap: 1rem;

                    >div {
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-between;
                        height: auto;

                        >figure>img {
                            width: 18vw;
                            height: 18vw;
                        }
                    }

                    >aside {
                        width: 100%;
                        height: unset;

                        >img {
                            width: 40vw;
                            height: 30vw;
                        }
                    }
                }
            }

            .product_data {
                margin-top: 1rem;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .single_product {
        >.pageNavigation {

            >a,
            span {
                font-size: 1rem;
            }
        }

        >.container {
            height: unset;
            padding: 0 $p_zero;
            flex-direction: column;

            >aside {
                width: 100%;

                .myImages {
                    height: 47vh;
                    flex-direction: column-reverse;
                    gap: 3rem;

                    >div {
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-between;
                        height: auto;

                        >figure>img {
                            width: 18vw;
                            height: 18vw;
                        }
                    }

                    >aside {
                        width: 100%;
                        height: unset;

                        >img {
                            width: 40vw;
                            height: 30vw;
                        }
                    }
                }
            }

            .product_data {
                margin-top: 1rem;
                width: 100%;
            }
        }
    }
}